/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  /* Barra de navegación */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #db0909;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-left p {
    margin: 0;
  }
  
  .icon-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .icon-button:hover {
    color: #00bcd4;
  }
  
  /* Modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999; /* Asegura que el modal esté por encima de otros elementos */
}
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    max-width: 600px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .map-container {
    margin-top: 20px;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      text-align: center;
    }
  
    .icon-button {
      margin-top: 10px;
    }
  }
  .contenedor {
    background-image: url(imagenes/Ferrari\ Roma.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    height: 759px;


}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
    flex-wrap: wrap;
    
}

/* Imagen con degradado y texto centrado */
.full-screen-section {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  
  .image-gradient {
    background: linear-gradient(to bottom, transparent, #1a1a1a36), url(imagenes/eDgKyhZVget0bLd4UTcAz2CliqNDhV9NqsfuKlmb.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .image-gradient.reverse {
    background: linear-gradient(to right, transparent, #111), url('imagenes/Ferrari\ fine\ art\ photography\ \(Driven\ magazine\).jpg');
    background-size: cover;
    background-position: center;
  }
  
  .center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .text-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0 5%;
    color: white;
  }
  
  .text-left, .text-right {
    width: 45%;
  }
  
  .text-left h1, .text-right h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  .text-left p, .text-right p {
    font-size: 1em;
    margin-bottom: 1.5em;
  }
  
  .footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background-color: white;
    position: relative;
    width: 100%;
    background: #111;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);

}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}